<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cosmos Validators RU</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  	body {font-family: 'Nunito', sans-serif;};
    nav.navbar {
      height: 6rem !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class=" navbar-item">
              <div class="control has-icons-left">
                <input class="input is-rounded" type="email" placeholder="Search">
                <span class="icon is-left">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
            <a class="navbar-item is-active is-size-5 has-text-weight-semibold">
              Home
            </a>
            <a class="navbar-item is-size-5 has-text-weight-semibold">
              Examples
            </a>
            <a class="navbar-item is-size-5 has-text-weight-semibold">
              Features
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <!-- Image -->
    <section class="hero ">
      <div class="hero-body">
        <div class="container">
          <section class="section">
            <div class="columns">
              <div class="column is-10 is-offset-1">
                <div class="content is-medium">
                  <h1 class="title has-text-centered">Cosmos Validators RU</h1>
                  <ul>
                  <li>Это список валидаторов сетей в экосистеме Cosmos из русскоязычного сообщества.</li>
                  <li>Если вы валидатор и не видите себя в списке, можете добавить себя
                    <a href="https://github.com/cosmos-validators-ru/cosmos-validators-ru.github.io/blob/master/validators.json" target="_blank">здесь.</a>
                  </li>
                  <li>Если вы делегатор и хотите поддержать валидаторов из русскоязычного сообщества - выбирайте подходящего из списка.</li>
                  <li>Крайне рекомендуется узнать о валидаторе чуть больше перед тем, как делегировать (т.н. DYOR), а также делегировать более чем 1 валидатору для децентрализации сети.</li>
                  <li>С любыми предложениями/пожеланиями/жалобами можно приходить
                    <a href="https://github.com/cosmos-validators-ru/cosmos-validators-ru.github.io/issues" target="blank">сюда</a>
                    и <a href="https://t.me/freak12techno" target="blank">сюда</a>.
                  </li>
                  </ul>
                  <p>Добро пожаловать!</p>
                </div>
              </div>
            </div>
          </section>

          <section class="sections">
            <div class="columns">
              <div class="column is-10 is-offset-1">
                <table class="table is-fullwidth">
                    <thead>
                      <tr>
                        <th>Моникер</th>
                        <th>Страна</th>
                        <th>Контакты</th>
                        <th>Количество сетей</th>
                        <th>Ссылки на эксплореры</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Моникер</th>
                        <th>Страна</th>
                        <th>Контакты</th>
                        <th>Количество сетей</th>
                        <th>Ссылки на эксплореры</th>
                      </tr>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr v-for="validator in validators">
                        <th>{{ validator.moniker }}</th>
                        <td>{{ validator.country }}</td>
                        <td>
                          <ul>
                            <li v-for="(link, key) in validator.contacts">
                              <a :href="link">{{ key }}</a>
                            </li>
                          </ul>
                        </td>
                        <td>{{ Object.keys(validator.chains).length }}</td>
                        <td>
                          <ul>
                            <li v-for="(link, key) in validator.chains">
                              <a :href="link">{{ key }}</a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </section>

          <div class="container">
            <section class="section">
              <div class="columns">
                <div class="column is-10 is-offset-1">
                  <div class="content is-medium">
                    <h4 class="subtitle">Дружественные ресурсы:</h4>
                    <ul>
                      <li>
                        <a href="https://cosmosdrops.io" target="_blank">CosmosDrops.io</a> - русскоязычный сайт для отслеживания эйрдропов
                        + <a href="https://t.me/cosmosdropsio" target="_blank">русскоязычное комьюнити</a>
                      </li>
                      <li>
                        <a href="https://citadel.one" target="_blank">Citadel.one</a> - non-custodial решение для стейкинга
                        + <a href="https://t.me/citadel_rus" target="_blank">русскоязычное комьюнити</a>
                      </li>
                    </ul>
                    <li>
                      <a href="https://t.me/CosmosEcosystemNews_ru" target="_blank">русскоязычное сообщество Cosmos</a>
                      + <a href="https://t.me/CosmosEcosystem_ru" target="_blank">чат</a>
                    </li>
                  </div>
                </div>
              </div>
            </section>
          
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Сделал <a href="https://t.me/freak12techno" target="_blank">freak12techno.</a>
        </p>
      </div>
    </footer>
  </div>
</body>


<script src="https://unpkg.com/vue@3"></script>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        validators: [],
      }
    },
    mounted() {
      fetch('./validators.json').then(result => result.json()).then(result => {
        this.validators = result.sort(() => 0.5 - Math.random()); // sorting randomly
      })
    }
  }).mount('#app')
</script>

</html>
